@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

.woocommerce-checkout #payment div.payment_box,
.wp-block-woocommerce-checkout,
#payload-add-payment-method {
  .pl-form-container {
    max-width: 500px;
    padding-right: 1rem;
  }

  .pl-input {
    width: 100%;
    height: 1.5rem;
    padding: 2px 5px;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 0.2rem;
    outline: none;

    &::placeholder {
      color: #6c757d;
    }

    &:focus,
    &.pl-focus {
      box-shadow: 0 0 0 0.2rem
        color-mix(in srgb, var(--wc-primary) 15%, transparent);
      border-color: color-mix(in srgb, var(--wc-primary) 70%, transparent);
      &.pl-input-invalid {
        box-shadow: 0 0 0 0.2rem
          color-mix(in srgb, var(--wc-red) 15%, transparent);
      }
    }

    &.pl-input-invalid {
      border-color: color-mix(in srgb, var(--wc-red) 70%, transparent);
    }
  }

  label.pl-input-label {
    display: block;
    margin-bottom: 0.2rem;
    font-size: 0.9rem;
    font-weight: bold;
  }

  .pl-form-control {
    margin-bottom: 1rem;
  }

  .pl-invalid-hint {
    font-size: 0.7rem;
    color: var(--wc-red);
    height: 0.7rem;
    padding-top: 0.2rem;
  }

  .pl-form-error {
    margin: 1rem 0;
    border: 1px solid color-mix(in srgb, var(--wc-red) 70%, transparent);
    color: var(--wc-red);
    background: color-mix(in srgb, var(--wc-red) 20%, transparent);
    padding: 0.5rem 0rem 0.5rem 1rem;
    border-radius: 0.2rem;
  }
}
